:root {
  --panel-border-color: rgb(229 231 235 / 1);
  --panel-border-radius: 0.125rem;
}
.ck-content ol,
.ck-content ul,
.noteEntries ol,
.noteEntries ul {
  padding-inline-start: 40px;
  margin-bottom: 20px;
}

.ck-content ol,
.noteEntries ol {
  list-style: auto;
}

.ck-content ul,
.noteEntries ul {
  list-style: inherit;
}

.noteEntries p,
.noteEntries ul,
.noteEntries ol {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* Ellipsis Loader */
.loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) {
  left: 8px;
  animation: loader-dots1 0.6s infinite;
}
.loader-dots div:nth-child(2) {
  left: 8px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(3) {
  left: 32px;
  animation: loader-dots2 0.6s infinite;
}
.loader-dots div:nth-child(4) {
  left: 56px;
  animation: loader-dots3 0.6s infinite;
}
@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* FilePond */
.filepond--credits {
  display: none;
}

/* Scope of Work - Sortable */
.p-tree .p-tree-filter-container {
  position: relative;
  display: block;
  width: 100%;
}

.node-actions {
  /* display: none; */
}

li.p-treenode:hover .node-actions {
  display: inline-block;
}

/* HIDE TOGGLE FOR LEAF */
.p-treenode-leaf > .p-treenode-content .p-tree-toggler {
  visibility: hidden;
  display: none;
}

/* Confirm Popup */
.p-confirm-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 10px;
}

/* Photos */
.p-fileupload-buttonbar input[type='file'] {
  display: none;
}

.p-fileupload-files {
  display: flex;
}

[aria-label='Upload'],
.p-fileupload-choose {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  background: rgb(79 70 229 / var(--tw-bg-opacity)) !important;
  cursor: pointer;
  border-radius: var(--panel-border-radius);
}

.p-fileupload-buttonbar {
  justify-content: flex-end !important;
  padding-right: 0.5rem !important;
  border-top-right-radius: var(--panel-border-radius) !important;
  border-top-left-radius: var(--panel-border-radius) !important;
}

.p-fileupload .p-fileupload-content {
  border-bottom-right-radius: var(--panel-border-radius) !important;
  border-bottom-left-radius: var(--panel-border-radius) !important;
}

.p-fileupload-choose .p-button-icon {
  font-size: 0.825rem;
  margin-right: 0.25rem !important;
}
.p-fileupload-choose .p-button-label {
  font-weight: 500 !important;
}

/* Multi Select */
.p-multiselect {
  min-width: 15rem;
}
.p-multiselect,
.p-multiselect-panel {
  border-radius: var(--panel-border-radius);
}
.p-multiselect-panel .p-multiselect-header {
  border-top-right-radius: var(--panel-border-radius);
  border-top-left-radius: var(--panel-border-radius);
}

.p-multiselect .p-multiselect-label {
  padding: 0.5rem 0.5rem;
}

.p-multiselect-header,
.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  padding: 0.5rem 0.75rem !important;
}

/* Input Number */
input.p-inputnumber-input {
  width: 120px;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  padding: 0.15rem;
  text-align: right;
}

.itemAmount input.p-inputnumber-input,
.itemSumAmount input.p-inputnumber-input {
  border: 0;
  color: #495057;
  opacity: 1;
}
.itemSumAmount input.p-inputnumber-input {
  font-weight: 600;
}

/* Inputs */
.itemLabelMain input.p-inputtext,
.itemLabel textarea.p-inputtextarea,
.itemLabel input.p-inputtext {
  border: none;
  border-radius: 0;
}

.itemLabelMain input.p-inputtext {
  width: 40%;
  font-weight: 600;
  padding: 0;
}

.itemLabelMain input.p-inputtext.p-inputtext:enabled:focus {
  box-shadow: none;
}

.itemLabel textarea.p-inputtextarea {
  width: 100%;
  font-weight: 400;
  height: fit-content !important;
  padding: 0;
}

.itemLabel textarea.p-inputtextarea.p-inputtext:enabled:focus {
  box-shadow: none;
}

/* Context Menu */
.p-contextmenu .p-menuitem-icon.pi-trash,
.p-contextmenu .p-menuitem-icon.pi-trash ~ .p-menuitem-text {
  color: red !important;
}

/* CK EDITOR */
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  border-color: var(--panel-border-color) !important;
  border-radius: var(--panel-border-radius) !important;
}

/* Project */
.project-list-notes-container p {
  display: inline-block;
}
