.p-tree .p-tree-filter-container {
  position: relative;
  display: block;
  width: 100%;
}

/* HIDE TOGGLE FOR LEAF */
.p-treenode-leaf > .p-treenode-content .p-tree-toggler {
  visibility: hidden;
}

/* LABEL */
span.p-treenode-label {
  font-family: 'Inter';
  font-size: 14px;
}

/* FILTER */
.p-tree .p-tree-filter-container .p-tree-filter {
  padding: 0.35rem;
  padding-right: 1.75rem;
}

.p-tree-filter-icon {
  position: absolute;
  top: 0.75rem;
}

.pi.p-tree-filter-icon {
  font-size: 0.9rem;
}

/* NODE */
.p-treenode {
  position: relative;
}

/* DELETE BUTTON */
.node-delete-btn {
  display: none;
}

li.p-treenode:hover .node-delete-btn {
  display: inline-flex;
}
